
<h1>Utilisateurs</h1>

<!-- <app-opacity [opacity]="0.2" (onChange)="listenOpacity($event)" /> -->

<!-- <app-draw /> -->

<input type="text" [(ngModel)]="indexUser">
<button (click)="scrollToUser()">Scroll To User</button>

@if (error()) {
    <p>{{ error() }}</p>
}

<select [(ngModel)]="extSelected">
    <option value="">Tous</option>
    @for (ext of extensions() ; track ext) {
        <option>{{ ext }}</option>
    }
</select>

<app-loader [loading]="false">
    @for (u of usersFiltered() ; track u.id) {
        <div #cardRef>
            <app-user-card [user]="u" (onDelete)="deleteUser($event)">
                <h1 entete>test</h1>
                <h2>footer</h2>
            </app-user-card>
        </div>
    }
</app-loader>