<h1>Users</h1>

<!-- <app-opacity [opacity]="0.3" color="red" (onChange)="listenOpacity($event)" /> -->
 <!-- <app-draw /> -->
<select [(ngModel)]="extSelected">
    <option value="">Tous</option>
    @for (ext of extensions() ; track ext) {
         <option>{{ ext }}</option>
    }
</select>

<input type="text" [(ngModel)]="indexInput" />
<button (click)="scrollToUser()">Scroll To user</button>
@if (indexError()) {
    <p>{{ indexError() }}</p>
}

<!-- <app-loader [loading]="usersResource.isLoading()">
    @for (u of usersResource.value(); track u.id) {
        <div #userCardRef>
            <app-user-card [user]="u">
                <div class="header">header</div>
                <div footer>Footer</div>
            </app-user-card>
        </div>
    }
</app-loader> -->

<form (submit)="createUser(myForm)" #myForm="ngForm">

    @if (myForm.invalid && myForm.submitted) {
        <p>Formulaire invalide</p>
        @if (email.hasError('required')) {
            <p>Email obligatoire</p>
        }
        @if (name.hasError('required')) {
            <p>Nom obligatoire</p>
        }
    }

    <label>Email</label>
    <input type="text" name="email" ngModel #email="ngModel" required>

    <label>Nom</label>
    <input type="password" name="name"  #name="ngModel" required ngModel />

    <button [aria-busy]="loadingCreate()" [disabled]="loadingCreate()">Connexion</button>
</form>

<app-loader [loading]="false">
    @for (u of usersFiltered(); track u.id) {
        <div #userCardRef>
            <app-user-card [user]="u" (onDelete)="removeUser($event)">
                <div class="header">header</div>
                <div footer>Footer</div>
            </app-user-card>
        </div>
    }
</app-loader>