<h1>Utilisateurs</h1>

<!-- <app-opacity (onChange)="listenOpacity($event)"></app-opacity> -->

<select [(ngModel)]="extSelected">
    <option value="">Tous</option>
    @for (ext of extensions() ; track ext) {
        <option>{{ ext }}</option>
    }
</select>

<app-loader [loading]="false">
    @for (u of usersFiltered() ; track u.id) {
        <app-user-card [user]="u">
            <h1 class="header">test</h1>
            <h1 class="footer">footer</h1>
        </app-user-card>
    }
</app-loader>