<h1>{{ 'Utilisateur' | plural:nbSelected }}</h1>

<select [(ngModel)]="nbSelected">
    <option>0</option>
    <option>1</option>
    <option>2</option>
</select>

<select [(ngModel)]="extSelected">
    <option value="">Tous</option>
    <option *ngFor="let ext of extensions">{{ ext }}</option>
</select>

<div>
    Nombre de personnes où l'email termine .biz : {{ usersExtensionBiz() }}
</div>

<button (click)="createUser()">Créer un utilisateur</button>

<app-user-card *ngFor="let u of users() | extFilter:extSelected" [user]="u" />