<h1>{{ 'Utilisateur' | plural:nbSelected }}</h1>

<select [(ngModel)]="nbSelected">
    <option>0</option>
    <option>1</option>
    <option>2</option>
</select>

<select [(ngModel)]="extSelected">
    <option value="">Tous</option>
    @for (ext of extensions ; track ext) {
        <option>{{ ext }}</option>
    }
</select>

<input type="text" [(ngModel)]="userIndex">
@if (errorMessage) {
    <p>{{ errorMessage }}</p>
}
<button (click)="scrollToUser()">Scroll To User</button>

<button (click)="createUser()">Créer utilisateur</button>

<app-loader [loading]="loading">
    @for (userData of users() | extFilter:extSelected ; track userData.id) {
        <div #refUserCard>
            <app-user-card [user]="userData" (eventDelete)="deleteUser($event)">
                <h1 class="title" #refTitle>Titre</h1>
                <h1 class="footer">Footer</h1>
                <p>Un texte par défaut</p>
            </app-user-card>
        </div>
    }
</app-loader>