<h1>{{ 'Utilisateur' | plural:nbSelected }}</h1>

<p>Utilisateur recherché : {{ nameSearch() }}</p>

<select [(ngModel)]="nbSelected">
    <option>0</option>
    <option>1</option>
    <option>2</option>
</select>

<button (click)="createUser()">Créer utilisateur</button>

<select [(ngModel)]="extSelected">
    <option value="">Tous</option>
    @for (ext of extensions ; track ext) {
    <option>{{ ext }}</option>
    }
</select>

@for (u of users() | extFilter:extSelected ; track u.id) {
<app-user-card [user]="u" (eventDelete)="deleteUser($event)">
    <h2 entete>Test</h2>
    <div footer1>
        Footer
    </div>
    <div footer2>
         Footer 2
    </div>
</app-user-card>
}