<h1>Users</h1>

<input type="text" [(ngModel)]="userIndex">
@if (errorMessage) {
    <p>{{ errorMessage }}</p>
}
<button (click)="scrollToUser()">Scroll To User</button>

<app-loader [loading]="loading">
    @for (userData of users ; track userData.id) {
        <div #refUserCard>
            <app-user-card [user]="userData">
                <h1 class="title" #refTitle>Titre</h1>
                <h1 class="footer">Footer</h1>
                <p>Un texte par défaut</p>
            </app-user-card>
        </div>
    }
</app-loader>