<form (ngSubmit)="login(myForm)" #myForm="ngForm">

    @if (myForm.invalid && myForm.submitted) {
        <p>Formulaire invalide</p>
        @if (email.hasError('required')) {
            <p>Email obligatoire</p>
        }
        @if (email.hasError('minlength')) {
            @let error = email.getError('minlength'); <!-- Depuis Angular 18.1 -->
            <p>Vous avez mis {{ error.actualLength }} caractères, 
                {{ error.requiredLength }} caractères obligatoires</p>
        }
    }

    <div [ngClass]="{ red: myForm.invalid, green: myForm.valid }">Texte</div>
    <div [ngStyle]="{ color: 'red', fontWeight: 'bold' }">Texte 2</div>

    <label>Email</label>
    <input type="text" name="email" ngModel 
        #email="ngModel" required minlength="3">

    <label>Mot de passe</label>
    <input type="password" name="password" ngModel>

    <button>Se connecter</button>
</form>