<form (ngSubmit)="login()" [formGroup]="myForm">

    @if (myForm.invalid && submitted()) {
        <div>Formulaire invalide</div>
        @if (propEmail.hasError('required')) {
            <div>Email obligatoire !</div>
        }
        @if (propEmail.hasError('minlength')) {
            <div>Caractères min.</div>
        }
    }

    <label>Email</label>
    <input type="text" [formControl]="propEmail">

    <label>Mot de passe</label>
    <input type="password" [formControl]="propPass">

    <button>Se connecter</button>
</form>