<form (submit)="login(myForm)" #myForm="ngForm">

    <div [class]="{ red: myForm.invalid, green: myForm.valid }" class="bold">
        uzfezfeznzej
    </div>

    @if (myForm.invalid && myForm.submitted) {
        <p>Formulaire invalide</p>
        @if (email.hasError('required')) {
            <p>Email obligatoire</p>
        }
        @if (email.hasError('minlength')) {
            @let emailError = email.getError('minlength');
            <p>Vous avez mis 
                {{ emailError.actualLength }}
                caractères, 
                 {{ emailError.requiredLength }}
                caractères requis</p>
        }
    }

    <label>Email</label>
    <input type="text" name="email" #email="ngModel" ngModel required minlength="2">

    <label>Mot de passe</label>
    <input type="password" name="password" ngModel>

    <button>Connexion</button>
</form>