<form (ngSubmit)="login()" [formGroup]="myform">

    <div *ngIf="myform.invalid && submitted">
        <div *ngIf="propEmail.hasError('required')">
            Email requis
        </div>
        <div *ngIf="propEmail.hasError('minlength')">
            Caractères min.
        </div>
        <div *ngIf="propEmail.hasError('domain')">
           {{ propEmail.errors!['domain'] }} est interdit 
        </div>
    </div>

    <label>Email</label>
    <input type="text" [formControl]="propEmail">

    <label>Password</label>
    <input type="password" [formControl]="propPass">

    <button>Se connecter</button>
</form>