<form (ngSubmit)="login()" [formGroup]="myForm">

    @if (myForm.invalid && submitted) {
       <p>Formulaire invalide</p> 
       @if (propEmail.hasError('required')) {
        <p>Champ requis</p>
       }
       @if (propEmail.hasError('domain')) {
        <p>{{ propEmail.getError('domain') }} est interdit !</p>
    }
       @if (propEmail.hasError('minlength')) {
        <p>Caractères obligatoires</p>
       }
    }

    <label>Email</label>
    <input type="text"  [formControl]="propEmail">

    <label>Mot de passe</label>
    <input type="password" [formControl]="propPass">

    <button>Se connecter</button>
</form>