
<form (ngSubmit)="login()" [formGroup]="form">

    @if (form.invalid && submitted()) {
        <p>Formulaire invalide</p>
        @if (propEmail.hasError('required')) {
            Email obligatoire
        }
        @if (propEmail.hasError('minlength')) {
            Caractères obligatoires
        }
        @if (propEmail.hasError('domain')) {
            {{ propEmail.getError('domain') }} est interdit
        }
    }

    <label>Email</label>
    <input type="text" [formControl]="propEmail">

    <label>Mot de passe</label>
    <input type="password" [formControl]="propPass">

    <button>Se connecter</button>
</form>