
<form (ngSubmit)="login(refForm)" #refForm="ngForm">

    @if (refForm.invalid && refForm.submitted) {
        <p>Formulaire invalide</p>
        @if (email.hasError('required')) {
            <p>Email obligatoire</p>
        }
        @if (email.hasError('minlength')) {
            @let errorEmail = email.getError('minlength');
            <p>Vous avez {{ errorEmail.actualLength }} caractères, 
            {{ errorEmail.requiredLength }} caractères requis</p>
        }
    }

    <label>Email</label>
    <input type="text" name="email" ngModel #email="ngModel" required minlength="3">

    <label>Mot de passe</label>
    <input type="password" name="password" ngModel>

    <button>Se connecter</button>
</form>