<h1>{{ 'Utilisateur' | plural:users().length }}<h1>

<app-alpha-range [opacity]="0.6"  (onChange)="listenOpacity($event)" />

<button (click)="createUser()">Créer un utilisateur</button>

<select [(ngModel)]="extensionSelected">
    <option value="">Tous</option>
    @for (ext of extensions ; track ext) {
        <option>{{ ext }}</option>
    }
</select>

<app-loader [loading]="loading()">
    @for (u of users() | extFilter:extensionSelected() ; track u.id) {
        <app-user-card [user]="u" (onDelete)="deleteUser($event)">
            <!-- <h1 class="header">entête</h1>
            <h1 class="footer">pied de carte</h1> -->
        </app-user-card>
    }
</app-loader>