<h1>{{ 'Utilisateur' | plural:users().length }}<h1>

<app-alpha-range [opacity]="0.6"  (onChange)="listenOpacity($event)" />

<form (ngSubmit)="createUser(myForm)" #myForm="ngForm">

    @if (myForm.invalid && myForm.submitted) {
        <p>Formulaire invalide !</p>

        @if (email.hasError('required')) {
            <p>Email requis !</p>
        }
        @if (name.hasError('required')) {
            <p>Nom requis !</p>
        }
    }

    <label>Email</label>
    <input type="text" name="email" ngModel #email="ngModel" required>

    <label>Nom</label> 
    <input type="text" name="name" ngModel #name="ngModel" required>

    <button [ariaBusy]="loadingCreate()" [disabled]="loadingCreate()">
        {{ loadingCreate() ? '' : 'Créer un utilisateur' }}
    </button>
</form>

<select [(ngModel)]="extensionSelected">
    <option value="">Tous</option>
    @for (ext of extensions ; track ext) {
        <option>{{ ext }}</option>
    }
</select>

<app-loader [loading]="loading()">
    @for (u of users() | extFilter:extensionSelected() ; track u.id) {
        <app-user-card [user]="u" (onDelete)="deleteUser($event)">
            <!-- <h1 class="header">entête</h1>
            <h1 class="footer">pied de carte</h1> -->
        </app-user-card>
    }
</app-loader>