<form (ngSubmit)="login(formRef)" #formRef="ngForm">
    
    @if (formRef.invalid && formRef.submitted) {
        <p>Formulaire invalide</p>
        @if (email.hasError('required')) {
            <p>Email est obligatoire</p>
        }
        @if (email.hasError('minlength')) {
            @let emailError = email.getError('minlength');
            <p>L'email doit avoir 
     {{ emailError.actualLength }} caractères, 
     {{ emailError.requiredLength }}
     obligatoires
            </p>
        }
    }
    
    <label>Email</label>
    <input type="text" name="email"  #email="ngModel" ngModel required minlength="3" email>

    <label>Mot de passe</label>
    <input type="password" name="password" ngModel>

    <button>Se connecter</button>
</form>